{% include 'meta/meta.html' %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
  <input type="radio" id="42" name="choice" value=42>
  <label for=42>42</label><br>
  <input type="radio" id="female" name="choice" value=43>
  <label for=43>43</label><br>
  <input type="radio" id="other" name="choice" value=44>
  <label for=44>44</label>
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
